*
{
    padding: 0;
    margin: 0;
}
.feature
{
    padding: 100px;
    

}
h1
{
   text-align: center; 
   padding:  50px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   


}
body
{
    
}
.featured-img img
{
  
    width: 100%;
   float: inline;
   

}
.features .fa 
{
    font-size: 15px;
    color: #ff5722;
}
.feature-details
{
    padding: 30px;
    text-align: center;
   
}
.feature-details h2
{
 
    font-size: x-large;
    font-weight:600;
    font-size: inherit;
    margin-right: 4px;
    float: left;
   
}
.feature-details
{
    padding: 30px;
    text-align: justify;
   
}
.feature-details h3
{
    padding: 20px;
    text-align: justify;
    font-size: large;
    font-weight: 600;
    margin-top: 20px;
    font-style: normal;
    
}
.feature-details h5
{
    padding: 20px;
    text-align: justify;
    font-size: large;
    font-weight: 600;
    margin-top: 20px;
    font-size: large;
}


.featured-box
{
    box-shadow: 0 0 10px rgba(37,73,214,0,18);
    margin-bottom: 30px;
}
.footer
{
    padding:  100px 20px 15px;
    background-image: linear-gradient(#2d557d,#9610fd);
    color: #fff;

}
.footer-logo
{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer h4
{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;

}
.footer p
{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
   
}
.footer .row .fa
{
    padding-right: 20px;
    font-size: 15px;
}
.footer hr
{
    margin-top: 10px;
    background: #efefef;
}
.fa-heart
{
    margin: 0 5px;
    color: #f44336;
}
.footer .copyright
{
    text-align: center;
    
}
a
{
    float: right;
    text-decoration-line: none;
color: black;
}